<main>
  <div class="container mw-100">
    <div class="row">
      <div class="col-8 pull-content-star">
        <div class="p-5 mb-5">
          <h1> <%= @artist.name %> </h1>
          <h5>Albums (<%= @albums.length %>)</h5>
        </div>
        <div class="row">
          <% @albums.each do |album| %>
            <div class="card">
              <img src="<%= album.image_url %>" class="card-img-top" alt="<%= album.name %>">
              <div class="card-body">
                <h6> <%= album.name %> </h6>
                <p> <%= album.released_at %> </p>
              </div>
            </div>
          <% end %>
        </div>

      </div>
      <div class="col-4 p-5">
        <img src=" <%= @artist.image_url %>" class="rounded float-right" alt=" <%= @artist.name %> ">
      </div>

    </div>

  </div>
</main>
