<!DOCTYPE html>
<html>
  <head>
    <title>MySpotify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body  class="bg-light">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark pr-5">
                    <a class="navbar-brand" href="#">Real Music</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <%= link_to "Artistas", artists_path, class: "nav-link" %>
                                <!-- <a class="nav-link" href="#">Artistas <span class="sr-only">(current)</span></a> -->
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Mi Musica <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        <div class="nav-bar justify-content-end">
                            <ul class="navbar-nav mr-auto">
                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Mi Cuenta
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="#">Mi Perfil</a>
                                      <a class="dropdown-item" href="#">Mi Biblioteca</a>
                                      <div class="dropdown-divider"></div>
                                      <a class="dropdown-item" href="#">Configuración</a>
                                  </div>
                              </li>
                            </ul>
                        </div>
                    </div>
                </nav>
    </header>

    <%= yield %>
  </body>
</html>
